@use './prism-themes/light';
@use './prism-themes/dark';
@use '@volverjs/style/scss/components/vv-card';

html,
body,
#app {
    height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

// scrollbar
::-webkit-scrollbar {
    width: 5px;
    height: 0px;
    border: 1px solid var(--color-surface-1);
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-brand);
}

::-webkit-scrollbar-track {
    background-color: var(--color-surface-1);
}

// prism syntax highlight
pre[class*='language-'] {
    @extend %vv-card;

    margin-bottom: var(--spacing-md);
}

code[class*='language-'] {
    @extend %vv-card__content;

    font-family: var(--font-mono);
    font-size: var(--text-14);
    direction: ltr;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    tab-size: 4;
    hyphens: none;
}

// vue transitions
.v-enter-active,
.v-leave-active {
    transition: var(--transition-opacity);
}

.v-enter-from,
.v-leave-to {
    opacity: 0;
}